@use '../../../assets/colors/colors'as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
}
h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    text-shadow: .5px .5px rgb(105, 105, 105);
    margin-bottom: 1.5rem;
    color:$nav-color-darker;
}